/* UTILITY COMPONENTS */
/* BASE COMPONENTS */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list--non-bulleted {
  list-style: none;
}

.link--non-decorated {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* MODAL WINDOW COMPONENTS */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal__header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.cross-icon {
  width: 11px;
  height: 11px;
  fill: #000;
}

.application-form {
  display: flex;
  flex-direction: column;
}

.application-form__field {
  margin-bottom: 10px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.application-form__label {
  font-size: 12px;
  color: #757575;
}

.application-form__input--wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.application-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  font-size: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__input:focus {
  border-color: #2196f3;
}

.application-form__input:focus + .application-form__icon {
  fill: #2196f3;
}

.application-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid #21212133;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.167;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__message::placeholder {
  color: #75757580;
}

.application-form__message:focus {
  border-color: #2196f3;
}

.application-form__policy {
  margin: 20px auto 30px auto;
}

.application-form__policy-checkbox {
  position: relative;
}

.application-form__policy-input {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  appearance: none;
}

.application-form__policy-input:checked + .check-icon {
  visibility: visible;
}

.check-icon {
  position: absolute;
  top: -2px;
  left: 0;
  width: 16px;
  height: 15px;
  background-color: #2196f3;
  border-radius: 2px;
  fill: #fff;
  cursor: pointer;
  visibility: hidden;
}

.application-form__policy-text {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.application-form__link {
  color: #2196f3;
}

.application-form__btn {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* MULTIPLE COMPONENTS */
.website-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-section .website-logo {
  margin-right: 93px;
}

.website-logo--accent {
  color: #2196f3;
}

.website-logo--dark-theme {
  color: #ffffff;
}

.secondary-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.tertiary-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-links__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-link__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__link:hover, .social-link__link:focus {
  background-color: #2196f3;
}

.social-link__link:hover > .social-link__icon--light,
.social-link__link:focus > .social-link__icon--light,
.social-link__link:hover > .social-link__icon--dark,
.social-link__link:focus > .social-link__icon--dark {
  fill: #ffffff;
}

.social-link__link--light {
  background-color: #ffffff;
}

.social-link__link--dark {
  background-color: #ffffff1a;
}

.social-link__icon {
  width: 20px;
  height: 20px;
}

.social-link__icon--light {
  fill: #afb1b8;
}

.social-link__icon--dark {
  fill: #ffffff;
}

/* HEADER COMPONENTS */
.header-section {
  border-bottom: 1px solid #ececec;
}

.header-section__link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-section__link:hover, .header-section__link:focus {
  color: #2196f3;
}

.header-section__link:hover > svg,
.header-section__link:focus > svg {
  fill: #2196f3;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.nav__item:not(:last-child) {
  margin-right: 46px;
}

.nav__link {
  color: #212121;
}

.nav__link--active {
  position: relative;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__link {
  display: flex;
  align-items: center;
  color: #757575;
}

.header-contact__icon {
  margin-right: 10px;
  fill: #757575;
}

.envelope-icon {
  width: 16px;
  height: 12px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
}

/* FOOTER COMPONENTS */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-section__container {
  display: flex;
}

.footer-section__address {
  margin-right: 70px;
}

.footer-section__address .address {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__contact-link {
  color: #ffffff99;
}

.footer-section__social {
  width: 206px;
  padding-top: 12px;
  margin-right: 78px;
}

.footer__social-header {
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-section__newsletter {
  padding-top: 12px;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter__label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter__wrapper {
  display: flex;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.newsletter__input::placeholder {
  color: #ffffff99;
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.149);
  cursor: pointer;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

/* MAIN COMPONENTS STUDIO WEBSITE */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  width: 696px;
  margin: 0 auto;
  text-align: center;
}

.hero__content h1,
.hero__content button {
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero__btn {
  padding: 10px 41px 10px 42px;
  border: 0px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main-header {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-transform: uppercase;
}

.about {
  padding-top: 94px;
}

.about__content {
  display: flex;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__icon--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about__icon {
  width: 70px;
  height: 70px;
}

.about__header {
  margin-bottom: 10px;
}

.about__description {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.what-we-do__list {
  display: flex;
  justify-content: space-between;
}

.what-we-do__item {
  position: relative;
}

.what-we-do__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item .team__name,
.team__item .team__workplace {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

.team__workplace {
  margin-bottom: 16px;
  color: #757575;
}

.team__social-media {
  width: 206px;
  margin: 0 auto 30px auto;
}

.customers__list {
  display: flex;
  justify-content: space-between;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196f3;
}

.customers__link:hover > .customers__icon,
.customers__link:focus > .customers__icon {
  fill: #2196f3;
}

.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN COMPONENTS PORTFOLIO WEBSITE */
.filter-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-set__item:not(:last-child) {
  margin-right: 8px;
}

.filter-set__btn {
  padding: 6px 22px;
  margin-bottom: 56px;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-set__btn:hover, .filter-set__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__item {
  max-width: 370px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:nth-child(-n+6) {
  margin-bottom: 30px;
}

.projects__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #212121;
}

.projects__overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.projects__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3e5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover .projects__description {
  transform: translateY(0);
}

.projects__name {
  margin: 20px 24px 4px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__type {
  margin: 0 24px 20px 24px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */