.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgColorDark;
}

.footer-section__address {
  & .website-logo {
    display: block;
    text-align: center;
  }

  & .address {
    margin-top: 20px;
    text-align: center;
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__link {
  font-style: $fontStylePrimary;
  line-height: $rowHeight-171p4;
  letter-spacing: $lettSpacing-03;
  color: $colorLight;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $colorAccent;
  }
}

.address__contact-link {
  color: $colorLightOpacity60;
}

.footer-section__social {
  width: 206px;
  margin: 60px auto 0 auto;
}

.footer__social-header {
  margin-bottom: 20px;
  color: $colorLight;
}

.footer-section__newsletter {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-section__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-section__address {
    margin-left: 61px;
  }
  
  .footer-section__social {
    margin: 5px 74px 0 0;
  }

  .footer-section__newsletter {
    margin: 60px auto 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .footer-section__address {
    margin-left: 0;
    margin-right: 70px;

    & .website-logo,
    & .address {
      text-align: left;
    }
  }

  .address__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .footer-section__social {
    width: 206px;
    margin: 0 78px 0 0;
    padding-top: 12px;
  }

  .footer__social-header {
    text-align: left;
  }

  .footer-section__newsletter {
    margin: 0;
    padding-top: 12px;
  }
}