.header-section {
  border-bottom: 1px solid $borderColorHeader;
}

.header-section__link {
  font-weight: $fontWeightMedium;
  line-height: 1.143;
  letter-spacing: $lettSpacing-02;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $colorAccent;
  }

  &:hover > svg,
  &:focus > svg {
    fill: $colorAccent;
  }
}