.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact__link {
  display: flex;
  align-items: center;
  color: $colorSecondary;
}

.header-contact__icon {
  margin-right: 10px;
  fill: $colorSecondary;
}

.envelope-icon {
  width: 16px;
  height: 12px;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
}