.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $bgColorDarkOpacity40;
  background-image: linear-gradient(
    $bgColorDarkOpacity40, 
    $bgColorDarkOpacity40),  
    url(../images/hero/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  max-width: 365px;
  margin: 0 auto;
  text-align: center;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  border-radius: 4px;
  font-weight: $fontWeightBold;
  font-size: $fontSize16;
  line-height: $rowHeight-187p5;
  letter-spacing: $lettSpacing-06;
  color: $colorLight;
  background-color: $bgColorAccent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      $bgColorDarkOpacity40, 
      $bgColorDarkOpacity40),  
    url(../images/hero/hero-bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
      $bgColorDarkOpacity40, 
      $bgColorDarkOpacity40),  
    url(../images/hero/hero-bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
        $bgColorDarkOpacity40, 
        $bgColorDarkOpacity40),  
      url(../images/hero/hero-bg-tablet@2x.jpg);
    }
  }
}

// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
//   background-color: $bgColorDark;
//   background-image: linear-gradient(
//     rgba(47, 48, 58, 0.4),
//     rgba(47, 48, 58, 0.4)),
//   url(../images/hero-bg.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .hero__content {
//   width: 696px;
//   margin: 0 auto;
//   text-align: center;
// }

// .hero__btn {
//   padding: 10px 41px 10px 42px;
//   border: 0px;
//   border-radius: 4px;
//   font-weight: $fontWeightBold;
//   font-size: $fontSize16;
//   line-height: 1.875;
//   background-color: $colorAccent;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   cursor: pointer;
// }
