.team {
  background-color: $bgColorLight;
}

.team__item {
  padding-bottom: 24px;
  background-color: $bgColorLightest;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  & .team__name,
  & .team__workplace {
    font-size: $fontSize16;
    line-height: $rowHeight-118p8;
    text-align: center;
    letter-spacing: $lettSpacing-03;
  }
}

.team__photo {
  width: 100%;
  height: auto;
}

.team__name {
  margin-top: 30px;
  font-weight: $fontWeightMedium;
}

.team__workplace {
  margin-top: 10px;
  color: $colorSecondary;
}

.team__social-media {
  width: 206px;
  margin: 16px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
  }

  .team__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
    margin-left: -30px;
  }

  .team__item {
    flex-basis: calc((100% / 2) - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

// .team-list {
//   display: flex;
//   justify-content: space-between;
// }

// .team__item {
//   padding-bottom: 30px;
//   background: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;

//   & .team__name,
//   & .team__workplace {
//     font-size: $fontSize16;
//     line-height: 1.188;
//     text-align: center;
//     letter-spacing: $lettSpacing-03;
//   }
// }

// .team__photo {
//   width: 270px;
//   height: 260px;
// }

// .team__name {
//   margin-top: 30px;
//   margin-bottom: 10px;
//   font-weight: $fontWeightMedium;
// }

// .team__workplace {
//   color: $colorSecondary;
// }

// .team__social-media {
//   width: 206px;
//   margin: 16px auto 0 auto;
// }