.main-header {
  margin-bottom: 30px;
  font-weight: $fontWeightBlack;
  font-size: $fontSize26;
  line-height: $rowHeight-161p5;
  letter-spacing: $lettSpacing-06;
  text-transform: uppercase;
  color: $colorLight;
}

// .main-header {
//   margin-bottom: 30px;
//   font-weight: $fontWeightBlack;
//   font-size: $fontSize44;
//   line-height: 1.364;
//   text-transform: uppercase;
// }