.mobile-social__list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social__item {
  flex-basis: 50%;
  padding-top: 5px;

  &:not(:last-child) {
    padding-right: 10px;
  }
}

.mobile-social__link {
  font-weight: $fontWeightMedium;
  font-size: $fontSize18;
  line-height: $rowHeight-122p2;
  letter-spacing: $lettSpacing-02;
  color: $colorAccent;
}

@media screen and (min-width: 480px) {
  .mobile-social__item {
    flex-basis: 0;
    padding-top: 0;
  
    &:not(:last-child) {
      border-right: 1px solid $borderColorMobileSocial;
    }

    &:not(:first-child) {
      padding-left: 10px;
    }
  }
}
