.mobile-social__list {
  display: flex;
}

.mobile-social__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid $borderColorMobileSocial;
  }

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.mobile-social__link {
  font-weight: $fontWeightMedium;
  font-size: $fontSize18;
  line-height: $rowHeight-122p2;
  letter-spacing: $lettSpacing-02;
  color: $colorAccent;
}