.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter__label {
  font-weight: $fontWeightBold;
  font-size: $fontSize14;
  line-height: $rowHeight-114p3;
  text-align: center;
  letter-spacing: $lettSpacing-03;
  text-transform: uppercase;
  color: $colorLight;
}

.newsletter__input {
  width: 100%;
  margin-top: 20px;
  padding: 14px 16px;
  border: 1px solid $borderColorNewsletter;
  border-radius: 4px;
  font-size: $fontSize16;
  line-height: $rowHeight-125;
  letter-spacing: $lettSpacing-03;
  color: $colorLight;
  background-color: $bgColorDark;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: $colorLightOpacity60;
  }

  &:focus {
    border-color: $borderColorAccent;
  }
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 20px auto 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: $fontWeightBold;
  font-size: $fontSize16;
  line-height: $rowHeight-187p5;
  text-align: center;
  letter-spacing: $lettSpacing-06;
  color: $colorLight;
  background-color: $bgColorAccent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

// .newsletter {
//   display: flex;
//   flex-direction: column;
// }

// .newsletter__label {
//   margin-bottom: 20px;
//   font-weight: $fontWeightBold;
//   font-size: $fontSize14;
//   line-height: 1.143;
//   letter-spacing: $lettSpacing-03;
//   text-transform: uppercase;
//   color: $colorLight;
// }

// .newsletter__wrapper {
//   display: flex;
// }
// .newsletter__input {
//   width: 358px;
//   height: 50px;
//   padding: 15px 16px;
//   margin-right: 12px;
//   border: 1px solid #ffffff4d;
//   border-radius: 4px;
//   font-size: $fontSize16;
//   line-height: 1.25;
//   letter-spacing: $lettSpacing-03;
//   color: $colorLight;
//   background-color: $bgColorDark;
//   outline: none;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

//   &::placeholder {
//     color: $colorLightOpacity60;
//   }
// }

// .newsletter__btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 200px;
//   height: 50px;
//   border: none;
//   border-radius: 4px;
//   text-align: center;
//   font-weight: $fontWeightBold;
//   font-size: $fontSize16;
//   line-height: 1.875;
//   letter-spacing: $lettSpacing-06;
//   color: $colorLight;
//   background-color: $colorAccent;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.149);
//   cursor: pointer;
// }

// .newsletter__icon {
//   width: 24px;
//   height: 24px;
//   margin-left: 24px;
// }