.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter__label {
  font-weight: $fontWeightBold;
  font-size: $fontSize14;
  line-height: $rowHeight-114p3;
  text-align: center;
  letter-spacing: $lettSpacing-03;
  text-transform: uppercase;
  color: $colorLight;
}

.newsletter__input {
  width: 100%;
  margin-top: 20px;
  padding: 14px 16px;
  border: 1px solid $borderColorNewsletter;
  border-radius: 4px;
  font-size: $fontSize16;
  line-height: $rowHeight-125;
  letter-spacing: $lettSpacing-03;
  color: $colorLight;
  background-color: $bgColorDark;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: $colorLightOpacity60;
  }

  &:focus {
    border-color: $borderColorAccent;
  }
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 20px auto 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: $fontWeightBold;
  font-size: $fontSize16;
  line-height: $rowHeight-187p5;
  text-align: center;
  letter-spacing: $lettSpacing-06;
  color: $colorLight;
  background-color: $bgColorAccent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__wrapper {
    display: flex;
  }

  .newsletter__label {
    text-align: left;
  }

  .newsletter__input {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
  }
}