.social-links__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-link__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $bgColorAccent;
  }

  &:hover > .social-link__icon--light,
  &:focus > .social-link__icon--light,
  &:hover > .social-link__icon--dark,
  &:focus > .social-link__icon--dark {
    fill: $fillLightest;
  }
}

.social-link__link--light {
  background-color: $bgColorLightest;
}

.social-link__link--dark  {
  background-color: $bgColorSecondaryIcons;
}

.social-link__icon {
  width: 20px;
  height: 20px;
}

.social-link__icon--light {
  fill: $fillPrimaryIcons;
}

.social-link__icon--dark {
  fill: $fillLightest;
}