.website-logo {
  font-family: $fontSecondary;
  font-weight: $fontWeightBold;
  font-size: $fontSize24;
  line-height: $rowHeight-116p7;
  letter-spacing: $lettSpacing-03;
  color: $colorPrimary;
}

.website-logo--accent {
  color: $colorAccent;
}

.website-logo--dark-theme {
  color: $colorLight;
}

@media screen and (min-width: 1200px) {
  .website-logo {
    font-size: $fontSize26;
    line-height: $rowHeight-119p2;
    color: $colorDark;
  }

  .website-logo--dark-theme {
    color: $colorLight;
  }
}