$fontMain: 'Roboto', sans-serif;
$fontSecondary: 'Raleway', sans-serif;
$colorPrimary: #212121;
$colorSecondary: #757575;
$colorDark: #000000;
$colorLight: #ffffff;
$colorLightOpacity: #ffffff99;
$colorAccent: #2196f3;
$colorAccentOpacity: #2196f3e5;
$colorPrimaryIcons: #afb1b8;
$colorBackdropPlaceholder: #75757580;
$bgColorDark: #2f303a;
$bgColorLight: #f5f4fa;
$bgColorSecondaryIcons: #ffffff1a;
$borderColorHeader: #ececec;
$borderColorProjects: #eeeeee;
$borderColorBackdrop: #21212133;
$fontStylePrimary: normal;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontWeightBlack: 900;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize26: 26px;
$fontSize36: 36px;
$fontSize44: 44px;
$fontSizeFormHeader: 20px;
$fontSizeFormLabel: 12px;
$fontSizeFormInput: 12px;
$lettSpacing-02: 0.02em;
$lettSpacing-03: 0.03em;
$lettSpacing-06: 0.06em;
$lettSpacingFormField: 0.01em;